html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#topbar {
  position: absolute;
  left: 0; top: 0; right: 0;
  height: 30px;
  background: black;
  padding-left: 31px;
}

#topbar span {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #ccc;
  margin: 0 8px;
}

#toggle {
  position: absolute;
  top: -30px;
  height: 30px;
  width: 30px;
  background: black;
  display: none;
}

#toggle + label {
  display: block;
  position: absolute;
  top: -30px;
  height: 30px;
  width: 30px;
  left: 0;
  background-color: black;
  border: 0;
  margin: 0; padding: 0;
  border-right: 1px solid #ccc;
}
#toggle + label:hover {
  cursor: pointer;
  background-color: #111;
}

#toggle + label span {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  display: block;
  width: 5px;
  height: 30px;
  background-color: #333;
}

#toggle + label:hover span {
  width: 25px;
}

#toggle:checked + label span {
  width: 25px;
}

#toggle:checked + label:hover span {
  width: 5px;
}

#toggle ~ #sidebar {
  width: 0;
}

#toggle:checked ~ #sidebar {
  width: 180px;
}

#editarea {
  position: absolute;
  width: 100%;
  left: 0; top: 30px; right: 0; bottom: 0;
}

#toggle:checked ~ #editorC {
  left: 180px;
}

#sidebar {
  background: #ccc;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  bottom: 0;
  overflow: hidden;
}

#sidebar .search {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
#sidebar .search input {
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

#editorC {
  background: white;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#editor {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

#editor .ace_scroller {
  right: 0 !important;
  width: auto !important;
}

.files .active {
  background-color: red;
}