html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topbar .fill {
  height: 40px;
}

.topbar .brand {
  width: 160px;
  text-align: center;
}

#editarea {
  position: absolute;
  width: 100%;
  left: 0; top: 40px; right: 0; bottom: 0;
}

#sidebar {
  background: #ccc;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  bottom: 0;
  overflow: hidden;
  padding: 5px;
}

#sidebar .search {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
#sidebar .search input {
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

#sidebar summary {
  font-size: 20px;
  line-height: 20px;
}

#sidebar summary a {
  font-size: 10px;
}

#sidebar .ops {
  float: right;
  display: none;
  font-weight: normal;
}

#sidebar li:hover .ops {
  display: block;
}

#sidebar details {
  margin: 15px 0;
}

#sidebar ul.files {
  list-style: none;
  margin: 0; padding: 0;
}

#sidebar .files li {
  margin: 0; padding: 0 0 0 20px;
}

#sidebar .files li.active {
  margin: 0 -5px;
  padding: 0 5px 0 25px;
  font-weight: bold;
  background-color: #aaa;
}

#sidebar .files li:hover {
  cursor: pointer;
  color: black;
}


#editorC {
  background: white;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
  position: absolute;
  left: 180px;
  top: 0;
  right: 0;
  bottom: 0;
}

#editor {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}
