html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topbar .fill {
  height: 40px;
  padding: 0 10px 0 40px;
}

.topbar .brand {
  text-align: center;
}

#content {
  position: absolute;
  width: 100%;
  left: 0; top: 40px; right: 0; bottom: 0;
  overflow: hidden;
}

#sidebar {
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
  width: 169px;
  bottom: 0;
  overflow: hidden;
  padding: 5px;
  border-right: 1px solid black;
}

#sidebar summary {
  font-size: 20px;
  line-height: 20px;
}

#sidebar summary a {
  font-size: 10px;
}

#sidebar .ops {
  float: right;
  display: none;
  font-weight: normal;
}

#sidebar li:hover .ops {
  display: block;
}

#sidebar details {
  margin: 15px 0;
}

#sidebar ul.files {
  list-style: none;
  margin: 5px 0; padding: 0;
}

#sidebar .files li {
  margin: 0; padding: 0 0 0 20px;
}

#sidebar .files li.active {
  font-weight: bold;
  margin-right: -5px;
  background-color: rgba(55,120,194,0.3);
	border-radius: 5px 0 0 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.5);
	color: #3d5979;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#sidebar .files li {
  position: relative;
}

#sidebar .files li .ops {
  display: none;
  position: relative;
}

#sidebar .files li:hover {
  cursor: pointer;
  color: black;
}

#sidebar .files li:hover .ops {
  display: block;
}

#sidebar .files a {
  color: #333;
  white-space: nowrap;
}

#fileops {
  position: absolute;
  left: 180px;
  right: 0;
  top: 0;
  height: 39px;
  background: #ddd;
  line-height: 1;
  padding-right: 5px;
  border-bottom: 1px solid #999;
}

#fileops > div > .btn {
  margin: 5px 0 5px 5px;
}

#editor {
  background: white;
  position: absolute;
  left: 180px;
  top: 40px;
  right: 0;
  bottom: 0;
}
